* {
    margin: 0;
    padding: 0;
}

body{
    background-image:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

h1{

    color:rgba(53, 124, 115, 0.973);
    border: solid 2px rgb(15, 23, 126);
    width: 400px;
    background-color:rgb(187, 202, 191);
    box-shadow: 2px 2px 5px 4px grey;
    text-align: center;
    margin:auto;
    margin-top:10px;

}


h2{
    margin:10px;
    color:rgba(216, 231, 229, 0.973);
    display:block;
    border: solid 2px rgb(15, 23, 126);
    width: 250px;
    background-color:darksalmon;
    box-shadow: 2px 2px 5px 4px grey;
}

.formulario{
    margin:10px;
    font-size: 18px;
    font-weight: bold;
    margin:15px;

}

label{
display:block;
float:left;
width:97px;
}

.boton{
    margin-left:300px;
    padding:5px;
    font-size:14px;
}



